.idea
desktop.ini
thumbs.db
.DS_STORE
public/js
public/css
public/build
public/mix-manifest.json
clover.xml
storage/coverage
storage/test-results
.php-cs-fixer.cache
.phpstorm.meta.php
_ide_helper*
docker-compose.override.yml
.circleci/api-key.txt
